.benefits {
    &__content {
        display: flex;
        gap: 0.8rem;

        @include small-tablet {
            flex-direction: column;
            gap: 1.6rem;
        }

        &-grid {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(3, 1fr);
            gap: 1.2rem;

            @include small-tablet {
                display: flex;
                flex-direction: column;
                gap: 1.6rem;
            }
        }
    }
    &__box {
        @include small-tablet {
            padding: 3.2rem;
            padding-top: 5.2rem;
        }
    }
    &__title {
        max-width: 45rem;
    }

    &-item {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        backdrop-filter: blur(5rem);
        gap: 2rem;

        @include small-tablet {
            padding: 3.2rem;
            gap: 1.6rem;
        }

        &__text {
            padding: 5rem;
            text-align: center;
        }

        &__top {
            display: flex;
            align-items: center;
            gap: 2rem;
        }
        &__icon {
            min-width: 7.6rem;
            min-height: 8rem;
            width: 7.6rem;
            height: 8rem;
            mix-blend-mode: darken;
            
            @include small-tablet {
                min-width: 9.5rem;
                min-height: 10rem;
                width: 9.5rem;
                height: 10rem;
            }
            &-person-mark {
                min-width: 9rem;
                min-height: 8rem;

                @include small-tablet {
                    min-width: 11rem;
                    min-height: 10rem;
                }
            }
        }
        &__title {
            font-family: $font-family-URW;
            font-size: 2.2rem;
            font-weight: 900;
            letter-spacing: 0.044rem;
            text-transform: uppercase;

            @include small-tablet {
                font-size: 3.6rem;
            }
        }
    }
}
