@import 'vars';
@import 'mixins';

body {
    &.locked {
        overflow: hidden;
    }
}
.body_background-law-page{
    background-image: url(../img/contract-law/background.svg);
    background-repeat: no-repeat;
    background-size: cover;

    @include small-tablet {
        background-image: url(../img/contract-law/background-mb.svg);
    }
}
@media (min-width: 48.01em) {
    .mobile {
        display: none;
    }
}

@media (max-width: 48em) {
    .desktop {
        display: none;
    }
}

.hidden {
    display: none;
}

section {
    margin-bottom: 16rem;
}

.swiper-button-next,
.swiper-button-prev {
    border-radius: 50%;
    border: 0.1rem solid $white;
    background: transparent;
    max-width: 8.5rem;
    width: 100%;
    height: 8.5rem;
    transition: 0.3s background ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    @include small-tablet{
        max-width: 9rem;
        height: 9rem;
    }

    &::after {
        display: none;
        visibility: hidden;
    }

    svg {
        max-width: 3.2rem;
        width: 100%;
        height: 2.4rem;

        @include small-tablet{
            max-width: 4.4rem;
            height: 3.2rem;
        }

        path {
            transition: 0.3s fill ease-in-out;
        }
    }

    &:hover {
        background: $blue;

        svg {
            path {
                stroke: $white;
            }
        }
    }
}

.working-authorities-background {
    @include small-tablet{
        background: url("../img/background-pages/working-authorities.svg") no-repeat;
    }
}

.sanctions-background {
    @include small-tablet{
        background: url("../img/background-pages/sanctions.svg") no-repeat;
    }
}

.financial-background {
    @include small-tablet{
        background: url("../img/background-pages/financial.svg") no-repeat;
    }
}

.intellectual-background {
    @include small-tablet{
        background: url("../img/background-pages/intellectual.svg") no-repeat;
    }
}

.judical-background {
    @include small-tablet{
        background: url("../img/background-pages/judical.svg") no-repeat;
    }
}
