@import 'vars';
@import 'mixins';

body {
    &.locked {
        overflow: hidden;
    }
}
.background {
    &__main-page {
        @include background-image('../img/background-pages/main.svg', '../img/background-pages/main-mb.svg');
    }
    &__about-us-page {
        @include background-image(
            '../img/background-pages/about-us.svg',
            '../img/background-pages/about-us-mb.svg'
        );
    }
    &__our-work-page {
        @include background-image(
            '../img/background-pages/our-work.svg',
            '../img/background-pages/our-work-mb.svg'
        );
    }
    &__article-page {
        @include background-image(
            '../img/background-pages/article.svg',
            '../img/background-pages/article-mb.svg'
        );
    }
    &__business-areas-page {
        @include background-image(
            '../img/background-pages/business-areas.svg',
            '../img/background-pages/business-areas-mb.svg'
        );
    }
    &__business-360-page {
        @include background-image(
            '../img/background-pages/business-360.svg',
            '../img/background-pages/business-360-mb.svg'
        );
    }
    &__business-magazine-page {
        @include background-image(
            '../img/background-pages/business-magazine.svg',
            '../img/background-pages/business-magazine-mb.svg'
        );
    }
    &__404-page {
        @include background-image('../img/background-pages/404.svg', '../img/background-pages/404-mb.svg');
    }
    &__privacy-page {
        @include background-image(
            '../img/background-pages/privacy.svg',
            '../img/background-pages/privacy-mb.svg'
        );
    }
    &__contacts-page {
        @include background-image(
            '../img/background-pages/contacts.svg',
            '../img/background-pages/contacts-mb.svg'
        );
    }
    &__law-page {
        @include background-image('../img/background-pages/law.svg', '../img/background-pages/law-mb.svg');
    }
}

@media (min-width: 48.01em) {
    .mobile {
        display: none;
    }
}

@media (max-width: 48em) {
    .desktop {
        display: none;
    }
}

.hidden {
    display: none;
}

section {
    margin-bottom: 16rem;
}

.swiper-button-next,
.swiper-button-prev {
    border-radius: 50%;
    border: 0.1rem solid $white;
    background: transparent;
    max-width: 8.5rem;
    width: 100%;
    height: 8.5rem;
    transition: 0.3s background ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    @include small-tablet {
        max-width: 9rem;
        height: 9rem;
    }

    &::after {
        display: none;
        visibility: hidden;
    }

    svg {
        max-width: 3.2rem;
        width: 100%;
        height: 2.4rem;

        @include small-tablet {
            max-width: 4.4rem;
            height: 3.2rem;
        }

        path {
            transition: 0.3s fill ease-in-out;
        }
    }

    &:hover {
        background: $blue;

        svg {
            path {
                stroke: $white;
            }
        }
    }
}

.working-authorities-background {
    @include small-tablet {
        background: url('../img/background-pages/working-authorities.svg') no-repeat;
    }
}

.sanctions-background {
    @include small-tablet {
        background: url('../img/background-pages/sanctions.svg') no-repeat;
    }
}

.financial-background {
    @include small-tablet {
        background: url('../img/background-pages/financial.svg') no-repeat;
    }
}

.intellectual-background {
    @include small-tablet {
        background: url('../img/background-pages/intellectual.svg') no-repeat;
    }
}

.judical-background {
    @include small-tablet {
        background: url('../img/background-pages/judical.svg') no-repeat;
    }
}
