.body_background-our-work-page {
    background-image: url(../img/our-work/background.svg);
    background-repeat: no-repeat;
    background-size: cover;

    @include small-tablet {
        background-image: url(../img/our-work/background-mb.svg);
    }
}
.work-details {
    &.--supporting {
        .work-details__heading {
            display: flex;
            gap: 1.2rem;

            @include small-tablet{
                flex-direction: column;
                gap: 4.8rem;
            }
        }

        .work-details__info {
            display: flex;
            flex-direction: column;
            max-width: 95.5rem;
            width: 100%;
            gap: 4.4rem;

            @include small-tablet{
                max-width: 100%;
                gap: 4.8rem;
            }
        }

        .numbered-details {
            max-width: 61.8rem;
            width: 100%;

            @include small-tablet{
                max-width: 100%;
            }
        }

        .numbered-details__list-item-description {
            font-size: 2.3rem;
            font-style: normal;
            font-weight: 700;
            line-height: 2.875rem;

            @include small-tablet{
                font-size: 3.6rem;
                line-height: 4.5rem;
            }
        }

        .numbered-details__list-item-number {
            @include small-tablet{
                min-width: 11rem;
                min-height: 11rem;
            }
        }

        .numbered-details__card {
            padding-bottom: 11.2rem;

            &-description {
                font-size: 3.6rem;
                line-height: 4.5rem;
            }

            &-image {
                right: -14rem;
                width: 100%;
                height: 100%;
                position: absolute;
                bottom: 0;
                z-index: -1;
                -webkit-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;
            }
        }


        @media (min-width: 48em) {
            .benefits-item {
                &__icon {
                    max-width: 5rem;
                    height: 6rem;
                    min-width: initial;
                    min-height: initial;
                }

                &__title {
                    color: $text-primary;
                    font-family: $font-family-URW;
                    font-size: 2.2rem;
                    font-style: normal;
                    font-weight: 900;
                    line-height: normal;
                    letter-spacing: 0.044rem;
                    text-transform: uppercase;
                }
            }
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        gap: 4.4rem;

        @include small-tablet {
            padding: 3.6rem;
            gap: 8rem;
        }
    }
    &-card {
        gap: 0;
        justify-content: space-between;
    }

    &-description {
        max-width: 57.2244rem;
    }
    &-benefits {
        margin: 0;
    }
}
.work-reviews {
    &__content {
        display: flex;
        gap: 1.2rem;

        @include small-tablet {
            flex-direction: column;
            gap: 1.6rem;
        }
    }

    &-item {
        display: flex;
        flex: 1;
        flex-direction: column;
        gap: 2rem;
        &-content {
            display: flex;
            flex-direction: column;
            gap: 3.4rem;
        }
        &-title {
            max-width: 68.6rem;
        }
    }
}
