.body_background-our-work-page {
    background-image: url(../img/our-work/background.svg);
    background-repeat: no-repeat;
    background-size: cover;

    @include small-tablet {
        background-image: url(../img/our-work/background-mb.svg);
    }
}
.work-details {
    &__content {
        display: flex;
        flex-direction: column;
        gap: 4.4rem;

        @include small-tablet {
            padding: 3.6rem;
            gap: 8rem;
        }
    }
    &-card {
        gap: 0;
        justify-content: space-between;
    }

    &-description {
        max-width: 57.2244rem;
    }
    &-benefits {
        margin: 0;
    }
}
.work-reviews {
    &__content {
        display: flex;
        gap: 1.2rem;

        @include small-tablet {
            flex-direction: column;
            gap: 1.6rem;
        }
    }

    &-item {
        display: flex;
        flex: 1;
        flex-direction: column;
        gap: 2rem;
        &-content {
            display: flex;
            flex-direction: column;
            gap: 3.4rem;
        }
        &-title {
            max-width: 68.6rem;
        }
    }
}
