.section-article {
    &__content {
        display: flex;
        flex-direction: column;
        gap: 5rem;

        @include small-tablet {
            gap: 4.8rem;
            padding: 3.2rem;
            padding-top: 5.2rem;
        }
    }

    &__title {
        margin-bottom: 2.8rem;

        @include small-tablet {
            margin-bottom: 3.2rem;
        }
    }
    &__box {
        display: flex;
        gap: 5rem;
        &:last-child {
            gap: 9rem;

            @include small-tablet {
                gap: 4.8rem;
            }
        }

        @include small-tablet {
            gap: 4.8rem;
            flex-direction: column;
        }
    }
    &__text {
        &-container {
            display: flex;
            flex-direction: column;
            gap: 2rem;

            &:last-child {
                justify-content: center;
            }

            @include small-tablet {
                gap: 1.6rem;
            }
        }
    }
    &__image {
        position: relative;
        border-radius: 5rem;
        overflow: hidden;
        min-height: 41.5rem;
        min-width: 72.9rem;
        background-size: cover;
        background-position: center;
        max-height: 44.5rem;

        img {
            position: absolute;
        }

        @include small-tablet {
            min-width: 100%;
            min-height: 50.8rem;
            min-width: 100%;
            order: 1;
        }

        &-text {
            position: absolute;
            padding: 3.2rem 4.8rem 3.1rem 4.8rem;
            border-radius: 5.8rem;
            background: rgba(255, 255, 255, 0.65);
            color: $blue;
            font-size: 1.8rem;
            font-weight: 700;
            top: 2.5rem;
            right: 2.5rem;

            @include small-tablet {
                font-size: 3.2rem;
                padding: 2.8rem 10.4rem 2.8rem 10.6rem;
                top: unset;
                bottom: 3.2rem;
                right: 6rem;

                &-long {
                    padding: 2.8rem 4.8rem;
                }
            }
        }
    }
}
